.content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;    

    overflow-y: scroll;
}

.list-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;

    align-items: center;
    justify-content: center;

    margin: 2vw auto;

    width: 100%;

    gap: 4vw;

    @media (max-width: 768px) {
        grid-template-columns: auto auto auto;
    }

    @media (max-width: 540px) {
        grid-template-columns: auto auto;
    }
}

a {
    text-decoration: none;
    color: black;
}

.card {
    list-style: none;

    height: 100%;
    width: 100%;

    padding: 1rem;

    border-radius: 24px;

    background-color: white;

    transition: ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.image {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: end;

    .img-container {
        height: 90%;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;

        align-self: center;

        background-color: var(--lightGray);

        border-radius: 12px;
    }

    .id {
        height: 10%;
        width: 100%;

        color: --var(lightGray);
        font-size: 1.5vw;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    h3 {
        font-weight: normal;
        font-size: 1.5vw;
        width: 100%;
    }

    .types {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        .type {
            padding: 0.4vw 0.8vw;
            font-size: 1vw;

            border-radius: 0.5vw;

            color: white;
        }
    }
}