<app-nav-bar></app-nav-bar>
<div class="router-wrapper">
    <div class="content" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
        <ul class="list-container">
            <li *ngFor="let pokemon of pokemons" class="card">
                <a routerLink="/details/{{pokemon?.details?.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <div class="image">
                        <div class="img-container">
                            <img src="{{pokemon?.details?.sprites?.front_default}}" alt="">
                        </div>
                        <p class="id">#{{pokemon?.details?.id}}</p>
                    </div>
                    <div class="info">
                        <h3 class="name">{{pokemon.name | titlecase}}</h3>
                        <div class="types">
                            <div *ngFor="let item of pokemon?.details?.types">
                                <p  class="type" [style.backgroundColor]="typeColors[item?.type?.name]">{{item.type.name | titlecase}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>