<div class="content">
    <div class="nav-left">
        <img class="pokeball" src="../../assets/svg/pokeball.svg" alt="Pokeball image">
        <img class="pokedex" src="../../assets/images/pokedex-logo.png" alt="Pokedex">
    </div>
    <div class="triangle"></div>
    <div class="nav-right">
        <input type="text" value="" placeholder="Search pokemon" id="pkm-search" #filter (focus)="showDropDown()"
            (blur)="hideDropDown()" (keyup)="filterList(filter.value)">
        <div id="dropDown">
            <p id="{{pokemon?.name}}" *ngFor="let pokemon of filteredPokemons" (mousedown)="getID(pokemon?.url)">
                {{pokemon?.name | titlecase}}
            </p>
        </div>
    </div>
</div>