<div class="content">
    <div class="nav-bar">
        <div class="nav-left">
            <a href=""><img src="../../../assets/svg/arrow-back-circle-outline-svgrepo-com.svg" alt="<-"></a>
        </div>
        <div class="triangle-left"></div>
        <div class="nav-middle">
            <img class="pokeball" src="../../assets/svg/pokeball.svg" alt="Pokeball image">
            <div *ngIf="pokemon" class="text">
                <h1 class="name">{{pokemon.name| titlecase}}</h1>
                <p class="id">#{{pokemon.id | number: '3.0-0'}}</p>
            </div>
        </div>
        <div class="triangle-right"></div>
        <div class="nav-right"></div>
    </div>

    <div *ngIf="pokemon" class="card">
        <div class="card-content">

            <div class="card-left">
                <div class="pkm-img">
                    <app-loader-pokeball *ngIf="loading"></app-loader-pokeball>
                    <img *ngIf="!loading" src="{{pokemon.pokemon_v2_pokemonsprites[0].sprites}}" #image
                        (error)="image.src = '../../../assets/svg/unknown-pokemon.svg'">
                </div>
                <div class="stats">
                    <div class="stat">
                            <p class="stat-name">HP</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[0].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[0].base_stat}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="stat">
                            <p class="stat-name">Attack</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[1].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[1].base_stat}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="stat">
                            <p class="stat-name">Defense</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[2].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[2].base_stat}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="stat">
                            <p class="stat-name">Special Attack</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[3].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[3].base_stat}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="stat">
                            <p class="stat-name">Special Defense</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[4].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[4].base_stat}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="stat">
                            <p class="stat-name">Speed</p>
                        <div class="stat-bar">
                            <div class="stat-fill" [style.width.%]="(pokemon.pokemon_v2_pokemonstats[5].base_stat)*0.392">
                                <p class="stat-value">{{pokemon.pokemon_v2_pokemonstats[5].base_stat}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-right">
                <div class="types">
                    <div *ngFor="let item of pokemon.pokemon_v2_pokemontypes">
                        <p class="type" [style.backgroundColor]="typeColors[item.pokemon_v2_type.name]">{{item.pokemon_v2_type.name |
                            titlecase}}</p>
                    </div>
                </div>
                <div class="info">
                    <div class="height">
                        <h2 class="info-title">Height</h2>
                        <p class="info-value">{{pokemon.height/10 | number: '1.2-2'}}m</p>
                    </div>
                    <div class="weight">
                        <h2 class="info-title">Weight</h2>
                        <p class="info-value">{{pokemon.weight/10 | number: '1.2-2'}}kg</p>
                    </div>
                    <div class="abilities">
                        <h2 class="info-title">Abilities</h2>
                        <div class="info-value" *ngFor="let item of pokemon.pokemon_v2_pokemonabilities">
                            <p class="ability-name">{{item.pokemon_v2_ability.name | titlecase}}</p>
                            <button class="details-button" id="details-button">
                                ?
                                <div id="popUp">{{item.pokemon_v2_ability.pokemon_v2_abilityeffecttexts[0].short_effect}}</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>